<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--use the head in frag to replace current head part in this html-->
<head th:replace="admin/_frags :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
<!--    navigation part-->
<nav th:replace="admin/_frags :: menu(1)" class="ui inverted attached segment interval-tb-reduce">
    <div class="ui container">
        <div class="ui inverted stackable menu">
            <h2 class="ui teal header item">My Blog</h2>
            <a href="#" class="m-item item my-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item my-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item my-mobile-hide"><i class="tags icon"></i>标签</a>
            <!--                search box part-->
            <div class="m-item item my-mobile-hide" style="width: 50%;height: 0"></div>
            <div class="m-item right item my-mobile-hide">
                <div class="ui icon input search-bar">
                    <input type="search" placeholder="Search..." >
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="ui container right item my-mobile-hide">
                <img src="../static/images/profile.PNG" alt="My Profile" class="round_icon" th:src="@{/images/profile.PNG}">
                <a href="#" class="item"><i class="address card outline icon"></i>Me</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button my-ps-topright my-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--the second navigation menu-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/add}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active green item">检查</a>
        </div>
    </div>
</div>

<!--<div class="ui transparent bottom attached segment"></div>-->
<!--content-->
<div class="interval-tb-middle">
    <div class="ui container">
        <div class="ui teal segment">
            <div class="ui form">
<!--                隐含域-->
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.type}">学习笔记</div>
                            </div>
                        </div>
                        <button id="clear-btn" class="ui clear button">清空</button>
                    </div>

                    <div class="field">
                        <input type="checkbox" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui blue button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>

<!--            blog manage table-->
            <div id="table-container">
                <table th:fragment="blogList" class="ui celled center aligned table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="interval-tb-add my-alpha">
                    <tr th:each="blog,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">I am a pig</td>
                        <td th:text="${blog.type.type}">学习笔记</td>
                        <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                        <td th:text="${blog.publish} ? '发布' : '草稿'">草稿</td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2021-1-31</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/add(id=${blog.id})}" class="ui teal basic button my-mini">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui red basic button my-mini">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini left floated pagination menu" th:if="${page.totalPages}>1">
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1)}" class="item">
                                    上一页
                                </a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1)}" class="item">
                                    下一页
                                </a>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/add}" class="ui mini right floated teal button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示</div>
                    <p th:text="${message}">操作成功</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!--bottom elements-->
<footer th:replace="admin/_frags :: foot" class="ui inverted vertical segment interval-tb-add">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/profile.PNG" alt="My Profile" class="round_icon" style="width: 100px;height: 100px" th:src="@{/images/profile.PNG}">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">1</a>
                    <a href="#" class="item">2</a>
                    <a href="#" class="item">3</a>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header">代办事项</h4>
                    <a href="#" class="item">1</a>
                    <a href="#" class="item">2</a>
                    <a href="#" class="item">3</a>
                </div>
            </div>
            <div class="seven wide column"></div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="my-text-interval-small my-alpha">Copyright©2021 Blog of XI BI</p>
    </div>

</footer>
<!--/*/<th:block th:replace="admin/_frags :: scripts">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('my-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    function page(obj) {
        $("[name='page']").val($(obj)).data("page");
        loaddata();
    };

    $("#search-btn").click(function (){
        $("[name='page']").val(0);
        loaddata();
    });

    $('.message .close').on('click',function (){
        $(this).closest('.message').transition('fade');
    });

    // 清空搜索栏关键词
    $('#clear-btn').on('click',function (){
        $('.ui.type.dropdown').dropdown('clear');
    });

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs}]]*/"/admin/blogs/search",{
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }
</script>
</body>
</html>